<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="DHIKR">
    <meta name="author" content="GeoGen Team">
    <title>Hostel Management</title>
    <link href="https://getbootstrap.com/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        html {
            overflow: scroll;
            overflow-x: hidden;
        }

        ::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }
    </style>

</head>

<body>

    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About</h4>
                        <p class="text-muted"></p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Menu</h4>
                        <ul class="list-unstyled">
                            <% if (!currentUser) { %>
                            <a class="text-white" href="/login">
                                <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>  ">Login</li>
                            </a>
                            <a class="text-white" href="/register">
                                <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">Sign
                                    Up</li>
                            </a>
                            <% } else { %>
                            <% if (currentUser.isAdmin) { %>
                            <a class="text-white" href="#<%= currentUser._id %>">
                                <li>Admin.
                                    <%= currentUser.username %>
                                </li>
                            </a>
                            <% } else { %>
                            <a class="text-white" href="/">
                                <li class="<%= typeof page !== 'undefined' && page === 'home' ? 'active' : '' %> ">Dashboard</li>
                            </a>
                            <a class="text-white" href="#<%= currentUser._id %>">
                                <li>Hi,
                                    <%= currentUser.username %>
                                </li>
                            </a>
                            <% } %>
                            <li><a href="/logout" class="text-white">Logout</a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="/" class="navbar-brand d-flex align-items-center">
                    
                    <strong>HOSTEL</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

    <div class="container">
        <% if (error && error.length > 0) {%>
        <br>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <% } %>
        <% if (success && success.length > 0) {%>
        <br>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
        <% } %>
    </div>